<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/assets/style.css'>
  <title>{{ $.Site.Title }}</title>
</head>

<body>
  {{ partial "header" . }}
  <a href="/">トップへ戻る</a>
  <main>
    <h2>{{ .Title }}</h2>
    {{ .Content }}
  </main>
</body>

</html>