<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href='/assets/style.css'>
  <link rel="icon" href="/favicon.ico">
  <title>{{ $.Site.Title }}</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T2G6MWJCN5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-T2G6MWJCN5');
  </script>
</head>

<body>
  {{ partial "header" . }}
  <a href="/">トップへ戻る</a>
  <main>
    <h2>{{ .Title }}</h2>
    {{ .Content }}
  </main>
</body>

</html>