html {
    background-color: #1e293b;
    color: #f1f5f9;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
}

header {
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

main {
    margin: 3%;
}

a {
    color: #00c8ff;
    text-decoration: none;
}

a:hover {
    color: #ff00aa;
    text-decoration: underline;
}

code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

h2 {
    font-size: 48px
}

h3 {
    font-size: 34px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

th,
td {
    border: solid 1px #94a3b8;
    padding: 8px;
}

table {
    border-collapse: collapse;
}

.color-sample {
    border-radius: 5px;
    margin: -2px;
    height: calc(1em + 10px);
    width: calc(calc(1em + 10px) * 1.618);
}

.skytomo {
    bottom: max(-15vw, -200px);
    left: 70vw;
    position: fixed;
    width: min(30vw, 400px);
}

.skytomo #face {
    cursor: grab;
}

.skytomo #face:active {
    cursor: grabbing;
}

.skytomo #face #eyes {
    display: inline;
}

.skytomo #face #kazarime {
    display: none;
}

.skytomo #face:hover #eyes {
    display: none;
}

.skytomo #face:hover #kazarime {
    display: inline;
}
